<nav class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        {% for item in site.data.navbar %}
        <a class="nav-item nav-link" href="{{item.link | prepend:'#'}}">{{ item.name }}</a>
        {% endfor %}
        <a href="resume.pdf" type="button" class="btn btn-info" role="button" style="margin-left: 15px">Resume</a>
      </div>
    </div>
</nav>